.launch {
  position: relative;
  background: transparent;
  border: 1px solid #30363d;
  background-color: #0d1117;
  border-radius: 6px;
  padding: 15px;
  padding-right: 100px;
  display: block;
  color: var(--white);
  text-decoration: none;
  transition: all 100ms ease-out;
  user-select: none;
}

.launch:hover {
  color: #fff;
  background-color: #212529;
  transition: all 100ms ease-in;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  margin-bottom: 0;
}

.date {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 10px;
}
